<web-app>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>ru.mironenko.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>getuser</servlet-name>
        <servlet-class>ru.mironenko.servlet.GetUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getuser</servlet-name>
        <url-pattern>/getuser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>createuser</servlet-name>
        <servlet-class>ru.mironenko.servlet.CreateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createuser</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edituser</servlet-name>
        <servlet-class>ru.mironenko.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edituser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>deleteuser</servlet-name>
        <servlet-class>ru.mironenko.servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteuser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
</web-app>
