<web-app>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.mironenko.servlets.UsersServlet</servlet-class>
        <!--<load-on-startup>1</load-on-startup>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>