<web-app>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.mironenko.servlets.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>userscontroller</servlet-name>
        <servlet-class>ru.mironenko.servlets.UsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userscontroller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>ru.mironenko.servlets.SinginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createuser</servlet-name>
        <servlet-class>ru.mironenko.servlets.CreateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createuser</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edituser</servlet-name>
        <servlet-class>ru.mironenko.servlets.EditUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edituser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteuser</servlet-name>
        <servlet-class>ru.mironenko.servlets.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteuser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createrole</servlet-name>
        <servlet-class>ru.mironenko.servlets.CreateRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createrole</servlet-name>
        <url-pattern>/createrole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editrole</servlet-name>
        <servlet-class>ru.mironenko.servlets.EditRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editrole</servlet-name>
        <url-pattern>/editrole</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleterole</servlet-name>
        <servlet-class>ru.mironenko.servlets.DeleteRole</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleterole</servlet-name>
        <url-pattern>/deleterole</url-pattern>
    </servlet-mapping>

</web-app>