<web-app>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>ru.mironenko.servlets.</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>